hr{
  opacity:0.3;
}
.tc{
  text-align:center;
}
.mt-20{
  margin-top:20px;
}

.sidebar-container>.scrollbar-wrapper>.el-scrollbar__view>.el-menu>.menu-wrapper:first-child>a>li>span{
  font-weight:bold;
  font-size:17px!important;
}